<dl>
  <dt>Name:</dt>
  <dd><%= @movie.name %></dd>
  <dt>Rating:</dt>
  <dd><%= @movie.rating %></dd>
  <dt>Description:</dt>
  <dd><%= @movie.desc %></dd>
  <dt>Length (minutes):</dt>
  <dd><%= @movie.length %></dd>
  <dt>Year Released:</dt>
  <dd><%= @movie.released_year %></dd>
</dl>
<p>
  <%= @movie.name %> has
  <!-- Show me a link that will take me to all this movie's reviews
  UNLESS this movie has no reviews
  -->
  <%= link_to_unless(@movie.reviews.empty?, "#{@movie.reviews.size} reviews", movie_reviews_path(@movie.id)) do
      "no reviews"
    end
    %>
</p>
