<dl>
  <dt>Name:</dt>
  <dd><%= @movie.name %></dd>
  <dt>Rating:</dt>
  <dd><%= @movie.rating %></dd>
  <dt>Description:</dt>
  <dd><%= @movie.desc %></dd>
  <dt>Length (minutes):</dt>
  <dd><%= @movie.length %></dd>
  <dt>Year Released:</dt>
  <dd><%= @movie.released_year %></dd>
</dl>
<p>
  <%= @movie.name %> has
  <!-- Show me a link that will take me to all this movie's reviews
  UNLESS this movie has no reviews
  -->
  <%= link_to_unless(@movie.reviews.empty?, "#{@movie.reviews.size} reviews", movie_reviews_path(@movie.id)) do
      "no reviews"
    end
    %>
</p>

<p>
  <%= @movie.name %> has been reviewed by
  <% unless @movie.users.empty? %>
    <!-- Show all the reviewer's full names -->
    <%= @movie.users.uniq.map(&:full_name).join(', ') %>
  <% else %>
    <!-- movie has not been reviewed yet -->
    no users.
  <% end %>
</p>

<p>
  Create a <%= link_to('Review', new_movie_review_path(@movie.id)) %>
</p>
