<!DOCTYPE html>
<html>
<head>
  <title>MoviesCrudApp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <!-- Links to register and login users -->
  <% if user_signed_in? %>
   <!-- Devise, current_user method will return the User object for the user that is logged in -->
   <p> User <%= current_user.email %> is signed in </p>
   <%= link_to "Sign Out", destroy_user_session_path, method: :delete %>
   <% else %>
   <p>No User is signed in </p>
   <%= link_to "Sign In", new_user_session_path %>
   <%= link_to "Sign Up", new_user_registration_path %>
  <% end %>


  <!-- Show flash messages -->
  <% flash.each do |name, msg| -%>
    <%= content_tag :div, msg, class: name %>
  <% end -%>

<!-- Your view content is placed here -->
<!-- yield to the content created in the view -->
<%= yield %>

<footer>
  <p>Created by BEWD 06 class</p>
</footer>

</body>
</html>
